<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaifangqian.modules.system.mapper.SysRoleMapper">

    <!-- 根据用户查询用户角色 -->
    <select id="getMyRoles" parameterType="Object" resultType="com.kaifangqian.modules.system.entity.SysRole">
        SELECT
        DISTINCT
        temp.*
        FROM
        ((
        SELECT
        sr.*
        FROM
        sys_auth_group_member am
        LEFT JOIN sys_auth_group_role gr ON am.group_id = gr.group_id
        INNER JOIN sys_role sr on gr.role_id = sr.id
        AND sr.delete_flag=0
        AND sr.tenant_id = #{query.tenantId}
        WHERE
        am.auth_type = 'user'
        AND am.auth_id = #{query.userId}
        AND am.depart_id = #{query.departId}
        ) UNION
        (
        SELECT
        sr.*
        FROM
        sys_auth_group_member am
        LEFT JOIN sys_auth_group_role gr ON am.group_id = gr.group_id
        INNER JOIN sys_role sr on gr.role_id = sr.id
        AND sr.delete_flag=0
        AND sr.tenant_id = #{query.tenantId}
        WHERE
        am.auth_type = 'user'
        AND am.auth_id = #{query.userId}
        AND am.tenant_id =#{query.tenantId}
        AND am.depart_id is null
        ) UNION
        <if test="query.roleIds !=null  and query.roleIds.size()>0">
            (
            SELECT
            sr.*
            FROM
            sys_auth_group_member am
            LEFT JOIN sys_auth_group_role gr ON am.group_id = gr.group_id
            INNER JOIN sys_role sr on gr.role_id = sr.id
            AND sr.delete_flag=0
            AND sr.tenant_id = #{query.tenantId}
            WHERE
            am.auth_type = 'role'
            AND am.auth_id IN
            <foreach collection="query.roleIds" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            ) UNION
        </if>
        (
        SELECT
        sr.*
        FROM
        sys_auth_group_member am
        LEFT JOIN sys_auth_group_role gr ON am.group_id = gr.group_id
        INNER JOIN sys_role sr on gr.role_id = sr.id
        AND sr.delete_flag=0
        AND sr.tenant_id = #{query.tenantId}
        WHERE
        am.auth_type = 'dept'
        AND am.auth_id = #{query.departId}
        )
        ) AS temp
        ORDER BY
        temp.role_name
    </select>

</mapper>