.custom-card{
  width: 100%;
}

 
.custom-card .card-title{
  position: relative;
  line-height: 30px;
  padding-left: 10px;
}
.custom-card .card-title:after{
  content:'';
  position:absolute;
  left:0px;
  top:7px;
  height:15px;
  width:3px;
  background-color: #1890ff;
}

.custom-card .card-body{
  width: 100%;
  padding-bottom: 10px;
}

.custom-card .card-body .line {
  width: 100%;
  border-bottom: 1px solid #ededed;
}
    